language: node
sudo: required
services:
  - docker
branches:
  only:
    - master
    - development
    - dev2
cache:
  directories:
    - '$HOME/google-cloud-sdk/'
before_install:
  - openssl aes-256-cbc -K $encrypted_961129e6c380_key -iv $encrypted_961129e6c380_iv -in credentials.tar.gz.enc -out credentials.tar.gz -d
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu
    $(lsb_release -cs) stable"
  - sudo apt-get update
  - sudo apt-get -yq --force-yes -o Dpkg::Options::="--force-confold" install docker-ce
  - export COMMITTER_EMAIL="$(git log -1 $TRAVIS_COMMIT --pretty="%cE")"
  - export AUTHOR_NAME="$(git log -1 $TRAVIS_COMMIT --pretty="%aN")"
  - git config --global user.name "Travis CI User"
  - git config --global user.email "user@example.com"
  - if [ ! -d "$HOME/google-cloud-sdk/bin" ]; then rm -rf $HOME/google-cloud-sdk; export
    CLOUDSDK_CORE_DISABLE_PROMPTS=1; curl https://sdk.cloud.google.com | bash; fi
  - source /home/travis/google-cloud-sdk/path.bash.inc
  - gcloud --quiet version
  - gcloud --quiet components update
  - gcloud --quiet components update kubectl
  - tar -xzf credentials.tar.gz
  - mkdir -p lib
  - gcloud auth activate-service-account --key-file client-secret.json
jobs:
  include:
    - stage: deploy
      install:
        - cd kauri-ops
        - source env_setup.sh --config-file config/config-uat.json
        - cd ..
        - gcloud config set project $GOOGLE_PROJECT_ID
        - gcloud container clusters get-credentials $ACS_NAME --zone $GOOGLE_ZONE
        - kubectl config set-context $(kubectl config current-context) --namespace=uat
      script:
        - cd packages/kauri-admin
        - './deploy.sh'
